.projectPage {
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
  background-image: url(../windows-95-texture.webp);
}

.projectPageBody {
  padding: 1em;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.projectContainer {
  display: block;
  position: relative;
  width: 100px;
  height: 13.5vh;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  box-sizing: border-box;
}

.projectIconImage{
    width: auto;
    height: 50px;
}

.linkText {
  font-family: Arial, sans-serif;
  width: 100px;
  padding-bottom: 0px;
  color: #333;
  line-height: 18px;
  text-align: left;
  text-decoration: none !important;
}