.contactPage {
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
  background-image: url(../windows-95-texture.webp);
}

.contactPageBody {
  padding: .5em;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  color: #333;
  text-decoration: none;
}
.contactLinkWrapper {
  margin-top: 1em;
}

.contactLink {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
}